/*Global Styles*/
*{
    margin: 0;
    padding: 0;
}


body {
    background-color: rgb(175, 122, 224);
}

img {
    display: block;
    width: 100%;
    margin: 0 auto;
} 

nav, 
header, 
section, 
footer {
    background-color: rgb(203, 180, 223);
}

/* Mobile Styles */

nav {
    margin-bottom: 10px;
    text-align: center;
    padding: 5px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    background-color: aquamarine;
    margin: 10px;
    height: 40px;
    line-height: 40px;
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
